@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,400italic,700,700italic,300italic);
/************************************************************CSS RESETS START*************************************************/
abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:0 0}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
/************************************************************MAIN RESETS START*************************************************/
body{font-family: 'Roboto Condensed', sans-serif;font-weight:300;text-transform:uppercase;}
section{clear:both;}
a{text-decoration:none;color:#333;}
a:hover,a:focus{text-decoration:none;color:#36dcce;}
p{line-height:1.5;color:#2d2e32;font-size:14px;}
header{background-color:#fff;height:100px;padding-top:20px;}
.minicart a img{vertical-align:middle;height:18px;}
/* Main Menu */
.main-menu{list-style-type:none;margin-top:42px;}
.main-menu li{display:inline-block;vertical-align:top;margin:0 20px;}
.main-menu li a{color:#231f20;font-size:18px;font-weight:700;border-bottom:6px solid transparent;padding-bottom:12px;}
.main-menu li a:hover{color:#f26c4f;border-bottom:6px solid #38cabf;}

/* Banners */
.banner{position: relative;height:700px;}
.banner-home{background-image: url(../images/banner-home.jpg);background-position:top center;background-size:cover;
background-repeat:no-repeat;}
.banner .caption{margin-top:18%;margin-right:20px;max-width:400px;}
.banner-home .caption{top:15%;}
.banner .btn1{background-color:#36dcce;display:inline-block;padding:15px 20px;color:#fff;font-weight:700;font-size:1.5em;border-radius:10px;
margin-bottom: 10px;}
.banner .btn1:hover{background-color:#f26c4f;}
.banner-home .caption h1{font-size:1.5em;font-weight:700;color:#000;margin-bottom:10px;line-height:1.1;}
.dark-banner{position:relative;height:400px;}
.dark-banner{background-position:top center;background-size:cover;background-repeat:no-repeat;}
.dark-banner.hdit{background-image: url(../images/banner1.jpg);border:6px solid #f26c4f;}
.dark-banner.atgof{background-image: url(../images/banner2.jpg);border:6px solid #36dcce;}
/* home Slider */
.homeslidercontainer{padding:0;}
.owl-carousel.owl-loaded{height:100%;}
.owl-theme .owl-controls{margin-top:0px;}
.owl-theme .owl-controls .owl-nav [class*=owl-]{margin:0;height:100%;border-radius:0;width:80px;text-indent:-999px;overflow: hidden;
background-color:rgba(255,255,255,0.5);}
.owl-carousel .owl-controls .owl-nav .owl-prev,.owl-carousel .owl-controls .owl-nav .owl-next{position:absolute;top:0;left:0;}
.owl-carousel .owl-controls .owl-nav .owl-prev,.owl-carousel .owl-controls .owl-nav .owl-prev:hover{
background-image:url(../images/aro-left.png);background-repeat:no-repeat;background-position:center center;background-size:70%;}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover,.owl-carousel .owl-controls .owl-nav .owl-next:hover{background-color:rgba(255,255,255,0.7);}
.owl-carousel .owl-controls .owl-nav .owl-next,.owl-carousel .owl-controls .owl-nav .owl-next:hover{left:inherit;right:0;
background-image:url(../images/aro-right.png);background-repeat:no-repeat;background-position:center center;background-size:70%;}

.fullheight{height:100% !important;max-height:100% !important;}
.relative{position:relative;}
.paddingzero{padding:0 !important;}
.paddingzeroR{padding-right:0 !important;}
.paddingzeroL{padding-left:0 !important;}
.padding1{padding:15px 5px;}
.padding2{padding:15px 15px;}
.margin1{margin-right:-15px;}
.tablet,.smartphones{display:none;}
.desktop{display:block;}